<!-- Label to display any error messages -->
<label class="error-message"></label>

 <!-- Expansion panel to add new notes -->

 <div class="note-expansion-panel-container">
  
  
  <!-- Create a mat expansion panel with a title Take a note and create a simple form
  which takes note title and content and add the note to the db.json
  Apply the CSS accordingly-->  
  
  
    </div>

    <!-- Display the notes fetching it from server 
        Use matcard for displaying each note
        Apply the styles accordingly
    -->

    <section class="notes-list-container">
           
    </section>


